*             { margin: 0; padding: 0; }
body          { font-family: 'Open Sans', Helvetica, Arial, sans-serif; }
h1,h2,h3,h4   { padding-bottom: 0.625em; font-weight: 700}
p             { padding-bottom: 1em; }
img           { max-width: 300px; }
a             { color: #0F802A; text-decoration: none; }
a:hover       { color: #14ba41; text-decoration: underline; }
li            { margin-left: 2em; }
li:last-child { margin-bottom: 1em; }
blockquote    { margin: 0 0 1em 1em; padding-left: 1em; border-left: 3px solid #0F802A; }
blockquote p:last-child { padding-bottom: 0; }

.wrapper {
  margin: 0 auto;
  padding: 10px;
  width: 300px;
}

@media screen and (min-width: 480px) {
  img      { max-width: 450px; }
  .wrapper { width: 450px; }
}

@media screen and (min-width: 768px) {
  img      { max-width: 720px; }
  .wrapper { width: 720px; }
}

header {
  padding: 1em 0;
  text-align: center;
}

header h1, header h2 {
  padding: 0;
}

header a {
}

.logo {
  width: 90px;
}

.title {
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  font-size: 48px;
  position: relative;
  top: -10px;
}

.title-code {
  font-weight: 700;
  letter-spacing: -1px;
}

.title-gardener {
  color: #0F802A;
  font-weight: 400;
  letter-spacing: -1px;
}

.tagline {
  display: inline;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  left: 46px;
  top: -28px;
}

time {
  color: #888;
  font-size: 12px;
}

code {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0 1em;
}
