*             { margin: 0; padding: 0; }
body          { font-family: 'Open Sans', Helvetica, Arial, sans-serif; }
h1,h2,h3,h4   { padding-bottom: 0.625em; font-weight: 700}
p             { padding-bottom: 1em; }
img           { max-width: 300px; }
a             { color: #0F802A; text-decoration: none; }
a:hover       { color: #14ba41; text-decoration: underline; }
li            { margin-left: 2em; }
li:last-child { margin-bottom: 1em; }
blockquote    { margin: 0 0 1em 1em; padding-left: 1em; border-left: 3px solid #0F802A; }
blockquote p:last-child { padding-bottom: 0; }

.wrapper {
  margin: 0 auto;
  padding: 10px;
  width: 300px;
}

@media screen and (min-width: 480px) {
  img      { max-width: 450px; }
  .wrapper { width: 450px; }
}

@media screen and (min-width: 768px) {
  img      { max-width: 720px; }
  .wrapper { width: 720px; }
}

header {
  padding: 1em 0;
  text-align: center;
}

header h1, header h2 {
  padding: 0;
}

header a {
}

.logo {
  width: 90px;
}

.title {
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  font-size: 48px;
  position: relative;
  top: -10px;
}

.title-code {
  font-weight: 700;
  letter-spacing: -1px;
}

.title-gardener {
  color: #0F802A;
  font-weight: 400;
  letter-spacing: -1px;
}

.tagline {
  display: inline;
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  left: 46px;
  top: -28px;
}

main {
}

time {
  color: #888;
  font-size: 12px;

}

code {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0 1em;
}

/*.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}*/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/*
.metadata {
  color: #aaa;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  width: 215px;
  padding-top: 4em;
  float: left;
}

.metadata ul {
  margin: 0;
  padding: 0;
}

.metadata ul li {
  list-style: none;
  text-align: right;
  padding-right: 20px;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}*/

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
/*.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}*/

/* terminal */
/*.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}*/
